<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head.ejs') %>
<body>
    <h1>Pokemon New Page</h1>
    <!--  NOTE: action will be the route, method will be the HTTP verb-->
    <form action="/pokemon" method="POST">
      Pokemon: <input type="text" name="name" /><br />
      Type: <input type="text" name="type" /><br />
      <input type="submit" value="Create Pokemon" />
    </form>
</body>
</body>
</html>